# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b64f2468e5132563e70818bcf78b33a36c5f7c92bfac0ea8d6332b935e82dc3eb69e77cd1b2fa9f99b5653316ccbdea8cc1386f728f2e3956d1bd1caad4719e1

test:
  secret_key_base: 3dfb3477078c461c40f44e4723acbbcf5807875d9b239a27f0a844a62c1c53acf00c1b14faf28b2227118d786cbc54864a4bb479d38277ca27d3003612a24c74

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
